<h3>Project File</h3>
<div class="custom-file mb-3">
  <input type="file" (change)="fileSelected($event)" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>

<br />
<h3>Panels</h3>
<div>
  <ul class="list-group list-group-scroll mh-75">
    <li class="list-group-item list-group-item-primary">Front Wall</li>
    <li class="list-group-item list-group-item-secondary">2 x 2 Window</li>
    <li class="list-group-item list-group-item-success">2 x 34 Wall</li>
    <li class="list-group-item list-group-item-danger">2 - Door</li>
    <li class="list-group-item list-group-item-warning">Rear 23</li>
    <li class="list-group-item list-group-item-info">Rear 63</li>
    <li class="list-group-item list-group-item-light">Front_Exit</li>
    <li class="list-group-item list-group-item-dark">Front_Enter</li>
    <li class="list-group-item">Test</li>
  </ul>
</div>
