<h3>Production Status</h3>
<div class="row">
  <div class="col-3">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="list-group-item list-group-item-success col-9">2 x 34 Wall</div>
</div>
<div class="row mb-3">
  <ngb-progressbar class="w-100" type="success" textType="white" [value]="25" [animated]="true" [showValue]="true"></ngb-progressbar>
</div>
<div class="row card">
  <div class="card-body">
    Placeholder
  </div>
</div>